{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div >
                    <label for="id_email" class="control-label  requiredField">
                        Email<span class="asteriskField">*</span> </label> 
                        <div class="controls "> <input type="email" name="email" class="form-control" required="" id="id_email"> </div> 
                </div>
                {{ form|crispy }}
                <div >
                    <label for="id_dob" class="control-label  requiredField">
                        Date of Birth<span class="asteriskField">*</span> </label> 
                        <div class="controls "> <input type="date" name="dob" class="form-control" required="" id="id_dob"> </div> 
                </div>
            </fieldset>
            
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            <div class="div" >
                   {{password}}
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="http://127.0.0.1:8000/login">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}